
<!-- <div class="social-share">
    <a class="facebook" href="http://www.facebook.com/sharer/sharer.php?u=http://ninjaturdle.com$url$" target="_blank"></a>
    <a class="twitter" href="https://twitter.com/home?status=http://ninjaturdle.com$url$" target="_blank"></a>
    <a class="linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url=http://ninjaturdle.com$url$" target="_blank"></a>
    <a class="reddit" href="http://reddit.com/submit?url=http://ninjaturdle.com$url$" target="_blank"></a>
    <a class="digg" href="http://digg.com/submit?url=http://ninjaturdle.com$url$" target="_blank"></a>
    <a class="delicious" href="http://del.icio.us/post?url=http://ninjaturdle.com$url$" target="_blank"></a>
    <a class="rss" href="/rss.xml"></a>
</div> -->

<nav class="social-bar">
  <ul>
    <li><a class="social brown_hover" href="/story.html">Story</a></li>
    <!-- <li><a class="social brown_hover" href="/download.html">Download</a></li> -->
    <li><a class="social brown_hover" target="_blank" href="https://facebook.com/theninjaturdle">Facebook</a></li>
    <li><a class="social brown_hover" target="_blank" href="https://libgdx.badlogicgames.com/">Lib<font color="red">GDX</font></a></li>
    <li><a class="social brown_hover" target="_blank" href="https://kotlinlang.org/">Kotlin</a></li>
    <li><a class="social brown_hover" target="_blank" href="https://github.com/kennycason">My Github</a></li>
  </ul>
</nav>
